doctype html
head
    title Mixins in Pug
    - const date = new Date
    style. 
        .comment {
            font-family: sans-serif;
            line-height: 1.5;
            padding: 10px;
            border: 1px solid #555;
            width:250px;
        }
        .date {font-size:85%;text-align:right;}
        .author {font-size:110%; font-weight:bold;}
        .text {font-size:100%;}
body
    .comment
        .date #{date}
        .author decode
        .text Kya haal hai dost!