style. 
    p{
        font-family: sans-serif;
        line-height: 1.5;
        color: orange;
        width:250px;
    }
p Hi #{name},
p Thank you for signing up, I am happy to tell you that I have found cure to Corona.
p Check the image attached for proof.
p Okay fine! I was kidding. But do check out the image. It is from Southpark.