doctype html
head
    h1 Company Navbar
    a(style="padding-left:40px; color:green")(href="/Aboutus") About us
    a(style="padding-left:40px; color:orange")(href="/jobs") Jobs
    a(style="padding-left:40px; color:purple")(href="/legal") Legal
    a(style="padding-left:40px; color:blue")(href="/FAQ") FAQ
    